<section>
    <div class="container mt-5">


        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <div class="form-group">
                
                <input type="text" class="form-control mt-3" id="exampleFormControlFile1" name="pname" placeholder="Name">
             </div><div class="form-group">

                <input type="text" class="form-control mt-3" id="exampleFormControlFile1" name="cat" placeholder="Category">
             </div>
             <div class="form-group">

                <input type="text" class="form-control mt-3" id="exampleFormControlFile1" name="price" placeholder="price">
             </div>
             <div class="form-group">

                <textarea class="form-control mt-3" id="exampleFormControlFile1" name="description" placeholder="Description"></textarea>
             </div>
            <div class="form-group mt-3">
                
                <label for="exampleFormControlFile1 ">Select Image</label>
                <input type="file" name="image" class="form-control" id="exampleFormControlFile1" >
             </div>
             <div class="row">

                <input type="submit" class="btn btn-secondary btn-lg btn-block mt-3 ml-auto"   value="Add Product">
            </div>
        </form>
    </div>
</section>